@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Eczar);



body {
  font-size: 16px;
  font-family: 'Eczar', serif;
  color: #222;
  margin:0;

  background-color: rgb(51, 102, 153);
  border-color: rgb(171,78,78);
}
h1 {
  font-family: 'Crimson Text', serif;
  font-size: 72px;
  text-align: center;
  margin: 0;
}
header ul li{
  display: inline-block;
  text-align: center;
  margin: 0;

}

ul#pipes {
  text-align: center;

}

ul#pipes li:after {
  content: " | ";
}
ul#pipes li:last-child:after {
  content: ""; /* removes pipe after 'Five' */
}

footer nav {
  background-color: #222;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px;
  margin-bottom: 96px;
  position: fixed;



}
nav li {
  display: inline-block;
  margin-left: 64px;

}

nav a {
  display: inline-block;
  color:#222;
  text-decoration: none;
  padding: 4px 8px;
}
a:visited {
  color: rgb(255, 255, 204);
}
a:hover {
  color:rgb(102, 204, 255);
}


#container {
  max-width: 960px;
  margin:0 auto;
}



main h2 {
  letter-spacing: 0.1em;
  border-bottom: 10px solid #222;
  margin: 0:

}

#education {
  max-width: 960px;
  height: 360px;
  margin-bottom: 20px;
  background-color: rgb(171,78,78);

}
#experience {
  max-width: 960px;
  height: 730px;
  margin-bottom: 20px;
  background-color: rgb(171,78,78);
}
#activities {
  width: 960px;
  height:260px;
  margin-bottom: 20px;
  background-color: rgb(171,78,78);
}
#skills {
  width: 960px;
  height:290px;
  background-color: rgb(171,78,78);

}
#interests {
  width: 480px;
  height: 290px;
  top:-310px;
  position: relative;
  float: right;

}

}
div {
  display: inline-block;

}
#box01 {
  width: 300px;
  height: 264px
  margin-right: 15px;
  float:left;
  margin-left: 15px;



}
#box02 {
  width: 300px;
  height: 264px;
  float: right;




}


#box03 {
  width: 300px;
  height: 264px;
  margin-right: 15px;
  float: right;


}
#box04 {
  width: 480px;
  height: 160px;
  margin-bottom: 20px;

}

#box05 {

  width: 480px;
  height: 210px;
  margin-bottom: 20px;
  padding: 16px;
  top:-200px;
  position: relative;
  float: right;

}
#box05 img {
   border: 1px solid #222;
   padding:10px;
   margin-left: 20px;


}
#box05 p{
  margin: 0;
  left:240px;
  top:-100px;
  position: relative;

}
